/* CSS Document */
.mega-menu{width: 950px; overflow: hidden; padding: 20px; margin-left: -500px;}
.mega-menu a{text-decoration: none; color: cadetblue;}
.mega-menu .sub-menu-heading{ color: darkcyan;}
@media(max-width:900px){
	.mega-menu{width: 300px;}
}